<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title> mynotes </title>
  </head>
  <body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   
<div class="jumbotron">
  <h1 class="display-4"> Noted.com </h1>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  <hr class="my-4">
 
  
</div>

<form action="/login">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="email" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter username">
    
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="mypassword" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary" id="but">Submit</button>
</form>
<br>
<br>
<br>
<p id="end"> Made with <span class="fa fa-heart"></span> and Ruby </p>
    </div>
    </div>

    
    </div>
    </body>
    </html>